@use "styles/fonts";

* {
  padding: unset;
  margin: unset;
  outline: unset;
  border: unset;
  box-sizing: border-box;
  text-decoration-line: unset;
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
}

body {
  background-color: white;
  color: black;
}

svg.svg-icon {
  width: 24px;
  height: 24px;
  stroke-width: 2;
}